body {
	padding-top: 10px;
}

p, div {
	margin : auto;	
	text-align: center;
}

a {
	text-decoration : none;
	color: black;
}

div span {
	color : red;
	font-weight: bold;
}

summary {
  outline: none;
  cursor: pointer;
}

summary:focus {
outline:0;
}